= title("#{@employee_master.present? ? @employee_master.name : ""} Payslips")
.row{:ng_controller => "PayslipsIndexController"}
  = render "search_payslips"
  .row
    = render :partial => "payslips_layout", :locals => {:editable => true}
